*
{
	padding: 0;
	margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
 
  
}
li {
  float: left;
  height: 80px;
  border-right: 1px solid #bbb;


}
li:last-child{
	border-right: none;
}
.active {
  background-color: black;
  color: white;
  height: 100%;
}
li a {
  display: block;

  color: black;
  text-align: center;
  padding:20px 66px;
  text-decoration: none;
}

li a:hover {
  color: red;
}

.openingpic
{
	height: 80%;
	background-image: url(images/backgound.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 20px;
	text-shadow: 2px 2px #ff0000;
}
.header
{
	font-size: 60px;
	font-family: 'Playfair Display', serif;
	color: white;
	text-align: center;

}
.login
{
	width: 100px;
	padding: 8px 0;
	
	border: 2px solid white;
	border-radius: 25px;
	background: transparent;
	color: white;
	float: right;
}
.logo{
	width: 100px;
	float:left;
}
.header p{
	
	font-size: 40px;
    padding: 0px 100px 0px 100px;
}
.tag
{
	padding: 10px 0;
}
.tag h1{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	color: linear-gradient(35deg, #CCFFFF, #FFCCCC);
text-shadow: 2px 2px #ff0000;
}
figure {
	overflow: hidden;
	margin: 0 10px;
}
.image {
	display: inline-block;
	text-align:center;
	width: 33%;
	float: left;
position: relative;
}
.image img {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
	
}
.image #zoomIn figure img {
	transform: scale(1);
	transition: 1.8s ease-in-out;}

.image #zoomIn figure:hover img {
	transform: scale(1.5);
	opacity: 0.4;
}
.image__title {
    font-size: 40px;
    font-weight: bold;
     
    
    position: absolute;
    
    left: 10%;
    bottom: 0%;
    text-shadow: 2px 2px white;
    
    
    font-family: 'Bree Serif', serif;
}
.intro 
{
	
	padding-top: 400px;
	padding-bottom: 40px;
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	color: linear-gradient(35deg, #CCFFFF, #FFCCCC);
text-shadow: 2px 2px #ff0000;
text-align: center;
}
.para{
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}
